.bg-image {
  height: 230px;
  @media (min-width: 768px) {
    height: 450px;
  }
}

.driver-main .main-profile {
  width: 190px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-top: -104px;
}

.main-side,
.main-profile {
  position: relative;
}

.main-side {
  width: 100%;
}

.driver-info {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  color: #fff;
  .driver-info-item {
    display: block;
    max-width: 310px;
  }

  strong {
    color: #ffc800;
    display: block;
  }
}

.main-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: -4.375rem;
  text-align: center;
  width: 100%;
  @media (min-width: 768px) {
    width: auto;
    margin-top: -9.375rem;
    text-align: left;
  }
}

.profile-photo {
  border-radius: 100%;
  overflow: hidden;
  border: 5px solid #ffc800;
  width: 190px;
  height: 190px;
  position: relative;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

.profile-location img {
  display: inline-block;
  max-width: 30px;
  max-height: 20px;
}

.profile-head {
  h1 {
    font-family: Staatliches, cursive;
    font-size: 4rem;
    color: #ffc800;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 1.25rem;
  }
}

.main-wrapper {
  padding: 2rem;
  background-color: #2d2d2d;
  border-top: 5px solid #ffc800;
  position: relative;

  .container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: start;
    @media (min-width: 768px) {
      gap: 2rem;
      flex-direction: row;
    }
  }
}

.hero-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

.hero-text {
  color: #fefefe;
  font-family: "Staatliches", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 3.275rem;
  text-shadow: rgb(0 0 0 / 30%) 3px 3px 5px;
  margin-bottom: 0;
  padding: 0 1rem;
  @media (min-width: 768px) {
    font-size: 4.725rem;
    text-shadow: rgb(0 0 0 / 60%) 3px 3px 5px;
  }
}

.hero-sub-text {
  display: none;
  font-size: 1.275rem;
  text-shadow: rgba(0, 0, 0, 0.3) 3px 3px 1px;
  @media (min-width: 768px) {
    font-size: 1.75rem;
  }
}

.location-block {
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 1rem;
  }
}

.faq {
  color: #595959;

  h3,
  h5 {
    color: #2d2d2d;
  }
}
