.navbar {
  justify-content: start;
  gap: 1.5rem;
  color: white;
  background-color: #363636;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 4px solid #ffc800;

  img {
    width: 140px;
    height: auto;
    padding: 0;
    position: absolute;
    top: 0.75rem;
  }

  a {
    color: white;
    text-decoration: none;
    &:active,
    &:focus {
      color: white;
    }
    &:hover {
      color: #7bb03c;
    }
  }

  .nav-text {
    font-size: 1.725rem;
    color: #ffc800;
    font-family: "Staatliches", cursive;
  }
}
