@import "~bootstrap/scss/bootstrap";

body {
  color: #2d2d2d;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.App-main {
  background-color: white;
  padding-top: 1rem;
}

p,
.footer-copyright {
  color: #595959;
}

.footer-copyright {
  font-size: 0.75rem;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #7bb03c;
  border-color: #7bb03c;
  &:hover {
    background-color: #638d30;
    border-color: #638d30;
  }
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 2px;
}

.contact-info {
  margin-top: 1rem;
  @media (min-width: 768px) {
    margin-top: 0rem;
  }

  svg {
    margin-right: 0.5rem;
    transform: scale(1.05);
  }
}
