@import "~bootstrap/scss/bootstrap";

body {
  color: #2d2d2d;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.App-main {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1.5rem;
}
